<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobile.a21line">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:resizeableActivity="true"
        >
        <meta-data android:name="android.max_aspect" android:value="2.1" />
        <activity android:name=".Home.Home_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Login.Login_Activity"/>

        <activity android:name=".Login.Join_Activity_Second" />
        <activity android:name=".Search_Address_Activity" />
        <activity android:name=".Login.Join_Activity_PrivateInfo" />


        <activity android:name=".Login.Join_PrivateInfoDetail1_Activity" />
        <activity android:name=".Login.Join_PrivateInfoDetail2_Activity" />

        <activity android:name=".Login.Join_Lost_Activity"/>


        <activity android:name=".Login.Join_Activity_First">
        </activity>
        <activity
            android:name=".Bid.Bid_Activity"
            android:windowSoftInputMode="adjustNothing"
            />

        <activity
        android:name=".Bid.Bid_Analysis_Activity"
            android:windowSoftInputMode="adjustNothing"
        />

        <activity
            android:name=".Bid.Bid_Analysis_Memo_Popup"
            android:theme="@style/Theme.AppCompat.Dialog"
            android:windowSoftInputMode="stateAlwaysVisible|adjustNothing"
            />

        <activity
            android:name=".MyBid.MyBid_Request_Result_Popup"
            android:theme="@style/Theme.AppCompat.Dialog"
            />

        <activity
            android:name=".Bid.Bid_Analysis_PercentGap_Popup"
            android:theme="@style/Theme.AppCompat.Dialog"
            />

        <activity
            android:name=".MyBid.MyBid_Activity"
            android:windowSoftInputMode="adjustNothing"
            />

        <activity
            android:name=".MyBid.MyBid_List_Activity"
            android:windowSoftInputMode="adjustNothing"
            />

        <activity
            android:name=".MyBid.MyBid_moveGroup"
            android:theme="@style/Theme.AppCompat.Dialog"
            />

        <activity
            android:name=".MyBid.MyBid_Schedule_Activity"
            />

        <activity
        android:name=".Search.Search_Price_Popup"
        android:theme="@style/Theme.AppCompat.Dialog"
        android:windowSoftInputMode="stateAlwaysVisible"
        />

        <activity
            android:name=".Search.Search_Period_Popup"
            android:theme="@style/Theme.AppCompat.Dialog"
            android:windowSoftInputMode="stateAlwaysVisible"
            />

        <activity
            android:name=".Search.Search_BidType_Popup"
            android:theme="@style/Theme.AppCompat.Dialog"
            />


        <activity
            android:name=".Bid.Bid_Popup_Sorting"
            android:theme="@style/Theme.AppCompat.Dialog"
            />

        <activity
            android:name=".Search.Search_Bid_Activity"
            />



        <activity
            android:name=".BidResultCommon.Popup_SimpleSetting"
            android:theme="@style/Theme.AppCompat.Dialog"
            />

        <activity
            android:name=".Result.Result_Popup_Sorting"
            android:theme="@style/Theme.AppCompat.Dialog"
            />



        <activity
            android:name=".Result.Result_Activity"
            android:windowSoftInputMode="adjustNothing"
            />
        <activity
            android:name=".Setbid.Setbid_Activity"
            android:theme="@style/AppTheme"
            />
        <activity
            android:name=".Setbid.Setbid_Popup_BusinessSelect"
            android:theme="@style/Theme.AppCompat.Dialog"
            />
        <activity
            android:name=".Setbid.Setbid_Popup_LocationSelect"
            android:theme="@style/Theme.AppCompat.Dialog"
            />
        <activity android:name=".Bid.Bid_Detail_Activity"
            android:windowSoftInputMode="adjustNothing"
            />
        <activity android:name=".Result.Result_Detail_Activity"
            android:windowSoftInputMode="adjustNothing"
            />

        <activity
            android:name=".CustomerService.Notice_Activity"
            />

        <activity
            android:name=".CustomerService.Notice_Detail_Activity"
            android:theme="@style/Theme.AppCompat.Dialog"
            />

        <activity
            android:name=".CustomerService.Education_Activity"
            />

        <activity
            android:name=".CustomerService.Mas_Activity"
            />

        <activity
            android:name=".CustomerService.Mas_List_Popup"
            android:theme="@style/Theme.AppCompat.Dialog"
            />

        <activity
            android:name=".CustomerService.Qna_Activity"
            android:windowSoftInputMode="adjustNothing"
            />
        <activity
        android:name=".CustomerService.Qna_Detail_Activity"
        android:theme="@style/Theme.AppCompat.Dialog"
        />

        <activity
            android:name=".Library.Library_BusinessCondition_Activity"
            />

        <activity
            android:name=".Library.Library_BidablePrice_Activity"
            />


        <activity
            android:name=".Library.Library_BidLimitPercent_Activity"
            />

        <activity
            android:name=".BidResultCommon.Popup_MemoAdd"
            android:theme="@style/Theme.AppCompat.Dialog"
            android:windowSoftInputMode="adjustNothing|stateAlwaysVisible"
            />

        <activity
            android:name=".Bid.Popup_AnalysisResult"
            android:theme="@style/Theme.AppCompat.Dialog"
            />

        <activity
            android:name=".MyBid.MyBid_Request_Activity"
            />




        <activity
            android:name=".Setting.Setting_PrivateDataAgreement_Activity"
            />

        <activity
            android:name=".Setting.Setting_JoinAgreement_Activity"
            />


    </application>

</manifest>